.wrapper{
    display: flex;
    flex-direction: row;
    width: 70%;
    // flex-grow: 10;
    flex-direction: column;
    flex-wrap: wrap;

    // min-height: 100px;
    // width: 100px;

    // border: 3px solid green;
    margin: 0px 10px 0px 0px;
    
}