.wrapper{
    min-height: 100px;
    background-color: black;
    color: white;
    padding: 0px 10px 0px 100px;
}

.content{
    display: flex;
    justify-content: space-between; 
    padding: 10px 0px 0px 0px;
}

.scrollButton{
    color: white;
    background-color: black;
    display: flex;
}