.wrapper{
    border: 1px solid green; 
    width: 30%;
    height: 100px;
    // flex-grow: 1;
    overflow: hidden;

    .container{
       
        height: 100%;
        background-color: red;
    }
}